.welcome-h1{
  color: white;
  float: left;
  font: 600 25px "Philosopher",sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 100%;

}




 
  
