.welcome-h1{
  color: white;
  float: left;

  font: 600 40px/48px "Philosopher",sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 100%;

}

.welcome-h3{
  color: white;
  float: right;

  font: 600 20px "Philosopher",sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 100%;

}




 
  
