.container-for-hero-card {
  overflow: hidden;
  position: relative;
  height: 160vh;
  width: 100%;
  background-image: url("../img/heroimg3.jpeg");
  background-repeat: no-repeat center scroll top;
  background-size: contain;
} 

.img-text{
  margin: auto;
  font-style: italic;
}

  .hero-card-controls .carousel-control-next{
    display: none;
  }
  .hero-card-controls .carousel-control-prev{
    display: none;
  }

.hero-card-row {  
  /* z-index: 999 !important; */
  width: 90%;
  margin: auto;
}

.container-card-section{
  background-image: url('../img/heroimg3.jpeg');
  background-repeat: repeat center scroll top;
  background-size: contain;
  background-attachment: fixed;
}

.subscription-card{
  background: #81ba00;
  float: left;
  padding: 5px 5px;
  width: 100%;
}
.subscription-title{
  background: none;
  color: #ffffff;
  font: italic 500 25px"Philosopher",sans-serif;
  margin-top: 0;
  padding: 5px 0 0;
  position: relative;
  text-transform: capitalize;
  text-align: center;
}
  .subscription-p{
    color: #ffffff;
    float: left;
    font: 400 14px/24px "Poppins",Helvetica,sans-serif;
    margin: 20px 0 10px;
    width: 100%;
  }
  .subscription-email{
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
    display: block;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 60px;
  }
    
      .sub-input {
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 5px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: transparent;
        margin: 0px;
        padding: 5px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }

  .sub-btn{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 28px;
    padding: 6px 20px;
    text-transform: capitalize;
    margin-top: 2em;
  } 




/* carousel style */


.footer-content .footer-container .list-unstyled, h4 {
  position: relative;
  z-index: 2;
}
.footer-content .footer-container{
  position: relative;
  z-index: 2;
}

.footer-overlay{
  z-index: 1;
}

.footer-text-card{
  color: #777777;
  font: 400 22px/24px "Philosopher",Helvetica,sans-serif;
  margin: 0;
  text-transform: capitalize; 
  white-space: nowrap;
}

.carousel-card-for-hero-card {
  position: relative;

  height: 200px;
  width: 250px;
  margin: auto;
}


.carousel-card:hover .rounded-circle {
  transform: scale(1.1);
}
  
  /* .carousel-card:hover .card-body {
  transform: translateY(5%);
  transition: transform 0.3s ease-in-out;
  } */


/* Media queries for different device sizes */
 /* @media only screen and (max-width: 576px) and (max-width: 767px) {
  .hero-card .img-fluid {
    height: 46vh;
    margin-top: 8rem;
  }
  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
.c-only-1{
  display: none;
}
.rounded-circle-hero-card {
  width: 100%;
  padding: 10%;
}
}  */

/* @media only screen and (max-width: 370px) and (min-width: 486px){
  .carousel-control-prev {

    position: ;
    top: 70vh;
    border-radius: 25px 0 0 25px;
    margin-right: 4rem;
    padding: 5px;
    margin-top: -1rem;
    margin-left: 60.5%;
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 3rem;
    
    height: 2rem;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: purple;
    border: 0;
    opacity: 1;
    float: right;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    
    width: 5rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
  }
  .carousel-control-next{
    position: ;
    top: 70vh;
    bottom: 0;
    padding: 10px;
    margin-right: 2rem;
    margin-top: -1rem;
    border-radius: 0 25px 25px 0;
   
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 3rem;
    
    height: 2rem;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: #111;
    border: 0;
    opacity: 1;
   
  }

.carousel-control-prev-icon:hover {
box-shadow: #666666;
border-radius: 25px 0 0 25px;
}

.carousel-control-next-icon:hover{
  box-shadow: #666666;
  border-radius: 0 25px 25px 0;
}
} */
/* Extra small devices (phones) */
@media only screen and (max-width: 576px) and (max-width: 767px) {
  .hero-card .img-fluid  {
    height: 40vh;
    font-size: 18px;
    position: relative;
    z-index: 1;
    margin-top: 7rem;
  }


  .welcome-h1{
    color: white;
    float: left;
  
    font: 600 25px "Philosopher",sans-serif !important;
    letter-spacing: 0.4px;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  
  }

  /* .container-card-section{
    position: absolute;
    height: 100vh;
  } */

  .hero-overlay {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 154.0vh;
    background-color: #002600;
    opacity: 0.8;
    
  }

  .rounded-circle-hero-card {
    width: 50%;
    /* height: 100%; */
    padding: 10px 10px 30px 10px;
  
  }

  /* .hero-overlay{
    width: 100%;
    height: 240vh;
  } */

  .img-text{
    width: 100%;
    font: 400 18px "Poppins",Helvetica,sans-serif;
    font-style:italic;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Poppins', Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: auto;
    top: -3.187rem;
  }
  /* .carousel-item {
    transition-duration: 0.5s;
  } */

 .rounded-circle-hero-card {
    width: 100%;
  }

  .carousel-card {
    width: 80%;
    margin: auto;
  }

  
  .carousel-item {

    opacity: 0;

  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
.c-only{
  display: none;
}
.welcome-row{
  margin-top: 10vh;
}
.welcome-h1{
  font-size: 22px;
  margin-top: 15vh;
}

.welcome-image{
  margin-top: 3rem;
}
.subscription-card{
  background: #81ba00;
  float: left;
  padding: 5px 5px;
  width: 100%;
}
.subscription-title{
  background: none;
  color: #ffffff;
  font: italic 500 25px"Philosopher",sans-serif;
  margin-top: 0;
  padding: 5px 0 0;
  position: relative;
  text-transform: capitalize;
  text-align: center;
}
  .subscription-p{
    color: #ffffff;
    float: left;
    font: 400 14px/24px "Poppins",Helvetica,sans-serif;
    margin: 20px 0 10px;
    width: 100%;
  }
  .subscription-email{
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
    display: block;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 60px;
  }
    
      .sub-input {
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 5px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: transparent;
        margin: 0px;
        padding: 5px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }

  .sub-btn{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 28px;
    padding: 6px 20px;
    text-transform: capitalize;
    margin-top: 2em;
  }
  .carousel-control-prev {
    top: 43vh;
    border-radius: 25px 0 0 25px;
    margin-right: 4 rem;
    padding: 5px;
    margin-top: -1rem;
    /* margin: auto; */
    margin-left: 64.5%;
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 3rem;
    
    height: 1.7rem;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: purple;
    border: 0;
    opacity: 1;
    /* transition: opacity .15s ease; */
    float: right;
  }

  .hero-card-controls .carousel-control-next{
    display: none;
  }
  .hero-card-controls .carousel-control-prev{
    display: none;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    
    width: 5rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40% 40%;
    margin-top: -3px;
  }
  .carousel-control-next{
    top: 43vh;
    bottom: 0;
    padding: 10px;
    margin-right: 2rem;
    margin-top: -1rem;
    border-radius: 0 25px 25px 0;
   
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 3rem;
    
    height: 1.7rem;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: #111;
    border: 0;
    opacity: 1;
    /* transition: opacity .15s ease; */
  }

.carousel-control-prev-icon:hover {
box-shadow: #666666;
border-radius: 25px 0 0 25px;
}

.carousel-control-next-icon:hover{
  box-shadow: #666666;
  border-radius: 0 25px 25px 0;
}
.footer-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #002600;
  opacity: 0.8;
  z-index: 0 !important;
}
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-card .img-fluid {
    height: 50vh;
  }

  /* .hero-overlay{
    width: 100%;
    height: 100vh;
  } */
/* 
  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  } */
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
.c-only{
  display: none;
}
.p-only1{
  display:block;
}
.rounded-circle-hero-card {
  width: 300px;
  padding:10px;
  margin: auto;
}

.container-for-hero-card{
  width: 410px;
}
.welcome-image{
  margin-top: 3rem;
}
.subscription-card{
  background: #81ba00;
  float: left;
  padding: 5px 5px;
  width: 100%;
}
.subscription-title{
  background: none;
  color: #ffffff;
  font: italic 500 25px"Philosopher",sans-serif;
  margin-top: 0;
  padding: 5px 0 0;
  position: relative;
  text-transform: capitalize;
  text-align: center;
}
  .subscription-p{
    color: #ffffff;
    float: left;
    font: 400 14px/24px "Poppins",Helvetica,sans-serif;
    margin: 20px 0 10px;
    width: 100%;
  }
  .subscription-email{
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
    display: block;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 60px;
  }
    
      .sub-input {
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 5px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: transparent;
        margin: 0px;
        padding: 5px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }

  .sub-btn{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 28px;
    padding: 6px 20px;
    text-transform: capitalize;
    margin-top: 2em;
  }
  .footer-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60.567vh;
    background-color: #002600;
    opacity: 0.8;
    z-index: 0 !important;
  }
  .hero-overlay {
    position: absolute;
    margin-top: 0;
    top: auto;
    left: 0;
    width: 100%;
    height: 240vh;
    background-color: #002600;
    opacity: 0.8;
    
  }
  .carousel-control-prev {
    top: 31vh;
    border-radius: 25px 0 0 25px;
    margin-right: 4rem;
    padding: 5px;
    margin-top: -1rem;
    /* margin: auto; */
    margin-left: 74.5%;
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 3rem;
    
    height: 2rem;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: purple;
    border: 0;
    opacity: 1;
    /* transition: opacity .15s ease; */
    float: right;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    
    width: 5rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
  }
  .carousel-control-next{
    top: 31vh;
    bottom: 0;
    padding: 10px;
    margin-right: 3.5rem;
    margin-top: -1rem;
    border-radius: 0 25px 25px 0;
   
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 3rem;
    
    height: 2rem;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: #111;
    border: 0;
    opacity: 1;
    /* transition: opacity .15s ease; */
  }

.carousel-control-prev-icon:hover {
box-shadow: #666666;
border-radius: 25px 0 0 25px;
}

.carousel-control-next-icon:hover{
  box-shadow: #666666;
  border-radius: 0 25px 25px 0;
}
.welcome-row{
  margin-top: 10vh;
}
}

/* Small devices (tablets) */
@media only screen and (min-width: 370px) and (max-width: 576px) {
  .hero-card .img-fluid {
    height: 50vh;
  }

  /* .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  } */
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
.c-only{
  display: none;
}
.p-only1{
  display:block;
}
.rounded-circle-hero-card {
  width: 200px;
  padding: 0;
  margin: auto;
}

.container-for-hero-card{
  width: 300px;
}
.carousel-control-prev {
  top: 45vh;
  border-radius: 25px 0 0 25px;
  margin-right: 4rem;
  padding: 5px;
  margin-top: -1rem;
  /* margin: auto; */
  margin-left: 68%;
  z-index: 1;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 3rem;
  
  height: 2rem;
  padding: 0;
  color: #000000;
  text-align: center;
  background-color: purple;
  border: 0;
  opacity: 1;
  /* transition: opacity .15s ease; */
  float: right;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  
  width: 5rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50% 50%;
}
.carousel-control-next{
  top: 45vh;
  bottom: 0;
  padding: 10px;
  margin-right: 2rem;
  margin-top: -1rem;
  border-radius: 0 25px 25px 0;
 
  z-index: 1;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 3rem;
  
  height: 2rem;
  padding: 0;
  color: #000000;
  text-align: center;
  background-color: #111;
  border: 0;
  opacity: 1;
  /* transition: opacity .15s ease; */
}

.carousel-control-prev-icon:hover {
box-shadow: #666666;
border-radius: 25px 0 0 25px;
}

.carousel-control-next-icon:hover{
box-shadow: #666666;
border-radius: 0 25px 25px 0;
}
}

/* Small devices (tablets 820) */
@media only screen and (min-width: 820px) and (max-width: 990.99px) {
  .hero-card .img-fluid {
    height: 50vh;
  }


  /* .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  } */
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    
  opacity: 1;
}
.img-text{
  width: 100%;
  font-size: 40 px;
  margin: auto;
  height: auto;
}

  .rounded-circle-hero-card {
    width: 100%;
    padding: 10%;
  } 

}



/* Medium devices (desktops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-card .img-fluid {
    height: 60vh;
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
.c-only-1{
  display: none;
}
.c-only-2{
  margin: auto;
  width: 30%;
  /* display: none; */
}
.p-only{
  width: 200px;
  margin: auto;
  display: none;
}
.rounded-circle-hero-card {
  width: 100%;
  padding: 10%;
}
.welcome-section{
  display: flex;
 
}
.welcome-row{
  margin-top: 5rem;
}
.footer-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40.567vh;
  background-color: #002600;
  opacity: 0.8;
  z-index: 0 !important;
}

.hero-overlay {
  position: absolute;

  margin-top: 0;
  top: 60vh;
  left: 0;
  width: 100%;
  height: 63vh;
  background-color: #002600;
  opacity: 0.8;
  
}
.dev-text{
  margin-right: 2rem;
}

.welcome-section{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: row;
}

  .footer-overlay{
    top: 0;
    height: 30vh;
  }
.carousel-control-prev {
  top: 40vh;
  border-radius: 25px 0 0 25px;
  margin-right: 4rem;
  padding: 5px;
  margin-top: -1rem;
  /* margin: auto; */
  margin-left: 84.5%;
  z-index: 1;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 3rem;
  
  height: 2rem;
  padding: 0;
  color: #000000;
  text-align: center;
  background-color: purple;
  border: 0;
  opacity: 1;
  /* transition: opacity .15s ease; */
  float: right;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  
  width: 5rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50% 50%;
}
.carousel-control-next{
  top: 40vh;
  bottom: 0;
  padding: 10px;
  margin-right: 2rem;
  margin-top: -1rem;
  border-radius: 0 25px 25px 0;
 
  z-index: 1;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 3rem;
  
  height: 2rem;
  padding: 0;
  color: #000000;
  text-align: center;
  background-color: #111;
  border: 0;
  opacity: 1;
  /* transition: opacity .15s ease; */
}

.carousel-control-prev-icon:hover {
box-shadow: #666666;
border-radius: 25px 0 0 25px;
}

.carousel-control-next-icon:hover{
box-shadow: #666666;
border-radius: 0 25px 25px 0;
}
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) {
  .hero-card .img-fluid  {
    height: 90vh;
    top: 0;
  }

  /* .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 100vh;
    color: #666666;
  } */
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    opacity: 1;
}

.p-only{
  display: none;
}


.img-text{
  width: 100%;
  font-size: 50px;
  margin: auto;
  height: auto;

  font: 400 50px "Poppins",Helvetica,sans-serif;
  font-style: italic;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  line-height: 18px;
  /* font-family: Poppins, Helvetica, sans-serif; */
  font-family: verdana;
  letter-spacing: 1px;
  color: white;
}
  .container-for-hero-card{
    margin-top: -10vh;
    position: relative;
    z-index: 1;
  }

  .carousel-card {
    width: 25%;
    margin: auto;
  }
  .rounded-circle-hero-card {
    width: 100%;
    padding: 10%;
  }
  .cards-for-hero-section{
    margin-top: -15vh;
    position: relative;
    z-index: 1;
  }

  .hero-vh-style{
    margin:auto;
    position: relative;
    margin-top: 70px;
  }

  .welcome-h1{

    color: white;
    float: left;
    font: 600 40px/48px "Philosopher",sans-serif;
    letter-spacing: 0.4px;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  }
  .welcome-row{
    margin-top: 15vh;
    top: 0;
  }
  .welcome-content{
    margin-top: 10vh;
   
  }

  .hero-overlay {
    position: absolute;
    /* top: 0; */
    top: 100vh; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 153.5vh;
    z-index: 0;
    background-color: #002600;
    opacity: 0.8;
    
  }
  .container-card-section{
    height: 160vh;
  }

  .subscription-card{
    background: #81ba00;
    float: left;
    padding: 5px 5px;
    width: 100%;
  }
  .subscription-title{
    background: none;
    color: #ffffff;
    font: italic 500 25px"Philosopher",sans-serif;
    margin-top: 0;
    padding: 5px 0 0;
    position: relative;
    text-transform: capitalize;
    text-align: center;
  }
    .subscription-p{
      color: #ffffff;
      float: left;
      font: 400 14px/24px "Poppins",Helvetica,sans-serif;
      margin: 20px 0 10px;
      width: 100%;
    }
    .subscription-email{
      background: none;
      border: none;
      border-bottom: 1px solid #ffffff;
      font-size: 14px;
      color: #ffffff;
      display: block;
      padding: 0 15px;
      height: 40px;
      width: 100%;
      float: left;
      text-align: center;
      margin: 0 0 60px;
    }
      
        .sub-input {
          writing-mode: horizontal-tb !important;
          text-rendering: auto;
          color: fieldtext;
          letter-spacing: normal;
          word-spacing: normal;
          line-height: normal;
          text-transform: none;
          text-indent: 5px;
          text-shadow: none;
          display: inline-block;
          text-align: start;
          appearance: auto;
          -webkit-rtl-ordering: logical;
          cursor: text;
          background-color: transparent;
          margin: 0px;
          padding: 5px 2px;
          border-width: 2px;
          border-style: inset;
          border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
          border-image: initial;
      }
 
    .sub-btn{
      background: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 25px;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      -khtml-border-radius: 25px;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      height: 42px;
      line-height: 28px;
      padding: 6px 20px;
      text-transform: capitalize;
      margin-top: 2em;
    }

    .footer-content .list-unstyled, h5 {
      position: relative;
      z-index: 2;
      font-size: 16px;
      line-height: 26px;
    }

    .footer-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 45.567vh;
      background-color: #002600;
      opacity: 0.8;
      z-index: 0 !important;
      overflow: hidden;
    }

    .carousel-control-prev {
      top: 78vh;
      border-radius: 25px 0 0 25px;
      margin-right: 4rem;
      padding: 5px;
      margin-top: -1rem;
      /* margin: auto; */
      margin-left: 88.5%;
      z-index: 1;
      display: flex;
      align-items:flex-start;
      justify-content: center;
      width: 3rem;
      
      height: 2rem;
      padding: 0;
      color: #000000;
      text-align: center;
      background-color: purple;
      border: 0;
      opacity: 1;
      /* transition: opacity .15s ease; */
      float: right;
    }
    
    .carousel-control-next-icon, .carousel-control-prev-icon {
      display: inline-block;
      
      width: 5rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 50% 50%;
    }
    .carousel-control-next{
      top: 78vh;
      bottom: 0;
      padding: 10px;
      margin-right: 2rem;
      margin-top: -1rem;
      border-radius: 0 25px 25px 0;
     
      z-index: 1;
      display: flex;
      align-items:flex-start;
      justify-content: center;
      width: 3rem;
      
      height: 2rem;
      padding: 0;
      color: #000000;
      text-align: center;
      background-color: #111;
      border: 0;
      opacity: 1;
      /* transition: opacity .15s ease; */
    }

.carousel-control-prev-icon:hover {
  box-shadow: #666666;
  border-radius: 25px 0 0 25px;
}

.carousel-control-next-icon:hover{
    box-shadow: #666666;
    border-radius: 0 25px 25px 0;
}


}

