/* Default styles for all devices */

.hero-card {
  height: 40vh;
}

.card-container {
  position: relative;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Media queries for different device sizes */

/* Extra small devices (phones) */
@media only screen and (max-width: 575px) {
  .hero-card .img-fluid  {
    height: 40vh;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-card .img-fluid {
    height: 50vh;
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-card .img-fluid {
    height: 60vh;
  }
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) {
  .hero-card .img-fluid {
    height: 100vh;
  }
}
