/* .background-image {
	position: relative;
	background-image: url('../img/bground1.webp');
	background-size: cover;
	background-position: center;
  }

  .background-image:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.1;
	background-color: #111; 
  }

 
 */
