/* Default styles for all devices */

.card-container {
  position: relative;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Media queries for different device sizes */

/* Extra small devices (phones) */
@media only screen and (max-width: 575px) {
  .hero-card .img-fluid  {
    height: 40vh;
    font-size: 18px;
  }
  .img-text{
    width: 100%;
    margin: auto;
    height: auto;
  }
  .carousel-item {
    transition-duration: 0.5s;
  }

  .container-for-hero-card{
    margin-top: -15vh;
    position: relative;
    z-index: 1;
  }

 .rounded-circle {
padding: 7%;
  }
  .carousel-card {
    width: 100%;
    margin: auto;
  }

  
  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-card .img-fluid {
    height: 50vh;
  }

  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
  
}

/* Small devices (tablets 820) */
@media only screen and (min-width: 820px) and (max-width: 990.99px) {
  .hero-card .img-fluid {
    height: 50vh;
  }

  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
.img-text{
  width: 100%;
  font-size: 40 px;
  margin: auto;
  height: auto;
}
  .container-for-hero-card{
    margin-top: -10vh;
    position: relative;
    z-index: 1;
  }
  
}

@media only screen and (max-width: 576px) and (max-width: 767px) {
  .hero-card .img-fluid {
    height: 46vh;
    margin-top: 8rem;
  }
  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
}

/* Medium devices (desktops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-card .img-fluid {
    height: 60vh;
  }
  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
  opacity: 1;
}
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) {
  .hero-card .img-fluid  {
    height: 100vh;
  }
  .carousel-item {
    transition-duration: 2s;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 100vh;
    color: #666666;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    opacity: 1;
}
.img-text{
  width: 100%;
  font-size: 62px;
  margin: auto;
  height: auto;
}
  .container-for-hero-card{
    margin-top: -10vh;
    position: relative;
    z-index: 1;
  }
}

