
/* Large devices (large desktops) */
@media only screen and (min-width: 992px) {
  .section-style{
    height: 65vh;
    margin-top: 20vh;
  }
  p {
    margin-top: 1rem;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 5; }
}

    
  