

.contact-card{
  font-family: 'Nunito', sans-serif;
  padding: 2px;
  box-shadow: 0 6px 10px 
  rgba(0,38,0,.08), 0 0 6px rgba(0,38,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 10px 10px 10px 10px;
cursor: pointer;
background-color: #a066cc;
position: absolute;
margin-top: 15vh !important;
}


.contact-card:hover{
  /* transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
background-color: #a066cc;
border-radius: none; */
}

.contact-section{
  background-image: url('');
  background-color: #ffffff !important;
  
}

.contact-section-content{
    /* background-color: rgba(0, 38, 0, 0.8); */
    height: 100vh;
    margin-top: 0 !important;
   
}

input::placeholder {
  font-weight: bold;
  
  color: white;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Add your CSS styles here */
    .contact-card{
      width: 90%;
      margin: auto;
      position: absolute;
      margin-top: 10rem !important;
      margin-left: 5% !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .contact-card{
        width: 50%;
        margin-left: 20vh;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .contact-card{
        width: 60%;
        margin-left: 30vh;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .contact-card{
        width: 40%;
        margin-left: 40vh;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .contact-card{
        width: 30%;
      margin-left: 60vh;

    }

    }




  