
.contact-card{
  font-family: 'Nunito', sans-serif;
  padding: 2px;
  box-shadow: 0 6px 10px 
  rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 10px 10px 10px 10px;
cursor: pointer;
background-color: rgba(0,0,0,.6);
margin: auto;

}

.contact-card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
background-color: rgba(0,0,0,.8);
border-radius: none;
}

.contact-section{
  background-image: url('../img/img15.jpeg');
  height: 90vh;
  color: white;
  
}

.contact-section-content{
    background-color: rgba(0, 0, 0, 0.8);
    height: 90vh;
   
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Add your CSS styles here */
    .contact-card {
      width: 90%;
      margin-bottom: 1rem;
      margin-top: 2rem !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .contact-card{
        width: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .contact-card{
        width: 60%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .contact-card{
        width: 40%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .contact-card{
        width: 40%;
    }
  }
  