.footer-card {
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding: 4px;
  border: none;
 


}

.footer-card:hover {
transition: 0.5s ease-in-out;
}

.card-image {
  position: relative;


}

.footer-content{
  background-image: url('../img/heroimg3.jpeg');
  background-repeat: repeat center scroll top;
  background-size: contain;
  background-attachment: fixed;
  color: white;
  position: relative;
  z-index: 999 !important;

}

.card-image:hover {
  transition: .5s ease-in-out;

}

.profile-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-image-container:hover{
  transition: 0.5s ease-in-out;
} 

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container:hover{
  transition: .2s ease-in-out;
}

.icon-container:hover{
  transition: .5s ease-in-out;
}

.icon {
  color: white;
  font-size: 18px;
  margin: 0 4px;
}

.linkedin {
  color: #ac8d8d;
}

.github {
  color: #ac8d8d;
}

.linkedin:hover {
  color: #ddd2d2;
  font-size: 24px;
  background-color: purple;
  transition: 0.5s ease-in-out;
}

.github:hover {
  color: #ddcbcb;
  font-size: 24px;
  background-color: purple;
  width: 100%;
  transition: 0.5s ease-in-out;
}

p .card-details {
  text-align: center;
  margin-left: 10px;
}


p .card-details:hover{
  text-decoration: underline;
  text-decoration-color: #81BA00;
  text-decoration-thickness: 3px;
  color: #666666;
  text-underline-offset: 0.5rem;
 
 

}
