.icon:hover {
    font-size: 35px;
    color: green;
    transition: .5s;

  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .nav-link:hover {
    font-size: 25px;
    transition: .5s;
    color: green;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  