.nav-links{
  color: #ffffff;
  text-align: left;
    
}

.mobile-hr{
  display: none;
}



.nav-links:hover{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 3px;
    color: #666666;
    text-underline-offset: 0.5rem;
    transition-delay: 0.5s;
   
}   

.nav-links:hover::after{
  color: #666666;
}



.navbar-collapse {
    flex-direction: row !important;
  }
  
    
.search-icon:hover{
  transition: all 1s ease-in-out;
}

.navbar {
   background-color: purple;
}

.navbar.scrolled {
    height: 8vh;
    background-color: #212529;
    transition: height 0.3s ease-in-out;
  }

  @media (max-width: 991.98px) {
    /* .navbar-toggler {
      top: 0;
      position: relative;
      padding: 0;
      width: 50px;
      height: 40px;
      border: none;
      background-color: transparent;
      margin-left: 2rem;
    }

      .navbar{
        padding-bottom: 0 ;
      }
      .menu-text {
        position: absolute;
        top: 4%;
        left: 0;
        margin-left: -9.6rem;
        transform: translate(-50, -50%);
        font-size: 14px;
        font-weight:lighter;
        background-color: transparent;
        color: white;
        text-align: left;
      }

      .navbar-toggler-icon{
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-miterlimit: 10;
        margin-left: -4rem;
        margin-top: -2rem;
      }
      .search-icon {    
        color: #fff;
        cursor: pointer;
        float: left;
        font-weight: 200;
        margin-left: 47%;
        font-size: 20px;
        margin-top: -3px;
        transition: 1s ease-in-out;
      }    */
    }

    @media (max-width: 991.98px) {
      .mobile-hr {
        display: block;
        width: 350px;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        margin: 1rem 0;
      }

    #basic-navbar-nav{
      background-color: #ffffff;
      margin-left: 1rem;
    }

    .nav-links:visited{
      color: #666666;
    }

    /* .linkedin{
      color: #6610f2;
      cursor: pointer;
      float: right;
      font-weight: 200;
      font-size: 20px;
      margin-top: 0;
      border: none;
      outline: none;
    }  */
    .nav-links{
      display: flex;
      color: #666666;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      padding-left: 1rem;
    }
    }

    @media (min-width: 991.98px) {
      .mobile-hr {
        display: none;
        width: 350px;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        margin: 1rem 0;
      }
      .nav-links{
        display: flex;
        color: #ffffff;
        font-size: 16px;
        /* margin-left: 5rem; */
        font-family: Poppins, Helvetica, sans-serif;
      }
      #basic-navbar-nav{
        width: 100%;
        /* margin-left: 16rem; */
      }
      .search-icon {    
        color: #ffffff;
        cursor: pointer;
        /* float: right; */
        
        margin-left: -5rem !important;
        font-size: 16px;
        margin-top: -3px;
        transition: 1s ease-in-out;
      }   
      .linkedin{
        color: #ffffff;
        cursor: pointer;
        float: right;
        font-weight: 200;
        font-size: 14px;
        margin-top: 0;
        border: none;
        outline: none;
        margin-left: 22rem;
      } 
      .nav-links:visited{
        color: #ffffff;
      }
    }

    @media (min-width: 989px) {
      .mobile-hr {
        display: none;
        width: 350px;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        margin: 1rem 0;
      }
      .nav-links{
        display: flex;
        color: #ffffff;
        font-size: 16px;
        margin-left: 1rem;
        font-family: Poppins, Helvetica, sans-serif;
      }
      #basic-navbar-nav{
        width: 100%;
        margin: auto;
        margin-left: 22rem;
        margin-top: -2.5rem;
      }
      .linkedin{
        color: #6610f2;
        cursor: pointer;
        float: right;
        font-weight: 200;
        font-size: 20px;
        margin-top: 0;
        border: none;
        outline: none;
        margin-left: -30rem;
      } 
      .search-icon:hover{
        transition:1s ease-in-out;
      }
      .linkedin:hover{
        transition: 1s ease-in-out;
      }
    }
    

    .navbar-toggler {
      text-decoration: none;
    }

    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }

    .vertical-line {
      border-left: 1px solid white;
      height: 100px;
    }
   
    
  
