#search-form {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 999;
  transition: opacity 1s ease-in-out;
  border: 2px solid purple;
}

#search-form.visible {
  display: inline;
  opacity: 1;
}

.search-btn {
  display: inline;
  border: none;
  background: purple;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

#search-button:hover {
  color: #666666;
}

.search-form > input::placeholder{
  color: #666666;
  background-color: transparent;
  padding: 10px;
  font-size: 12px;

 
}

input{
  width: 150px;
  border: 1px solid #666666;
  border-radius: 30px;
  padding: 3px;
  align-items: center;
}

body.modal-open {
  filter: blur(5px);
}

