/* /* start cont slide cards
.slide-cards-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slide-cards {
  display: flex;
  width: calc(100% * 4);
  transition: transform 1s ease-in-out;
}

.card-6 {
  width: calc(100% / 4);
  height: 300px;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.card h3 {
  margin-top: 0;
}

.active {
  transform: scale(1.1);
}

.arrow-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev-arrow,
.next-arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.slides {
  position: relative;
  width: 35%;
  overflow: hidden;
  max-height: 50vh;
}

.slider-round-card {
  display: flex;
  width: 100%;
}

.slider-wrapper-round-card {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #333;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slide-title-container p {
  margin: 0;
  font-size: 24px;
  color: white;
}


.slide-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-footer p {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

*/



 
